@media screen and (max-width: 1280px) {
    .nav-container{
        padding: 15px 120px;
    }

    .nav-items{
        width: 60%;
    }

    
    .banner-image-container{
        padding: 20px;
    }

    button{
        padding: 14px 18px;
        margin-bottom: 20px;
    }

    .banner-tittle p{
        margin-bottom: 10px;
    }

    .feature-container{
        flex-direction: column;
        gap: 10px;
    }

    .feature-right{
        padding: 50px;
        text-align: center;
    }

    .right-description{
        padding: 20px;
    }

    .feature-left{
        width: 90%;
    }
    .feature-right{
        width: 90%;
    }
}

@media screen and (max-width: 1080px){
    .nav-container{
        padding: 15px 80px;
    }

    .nav-items{
        width: 60%;
    }

    .feature-left{
        width: 90%;
    }
    .feature-right{
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    .nav-container{
        padding: 15px 40px;
    }

    .nav-items{
        width: 60%;
    }

    .feature-left{
        width: 90%;
    }
    .feature-right{
        width: 90%;
    }
}

@media screen and (max-width: 768px){
    .nav-container{
        padding: 10px 20px;
    }

    .nav-items{
        width: 60%;
    }
    
    button{
        padding: 10px 14px;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .banner-tittle p{
        margin-bottom: 5px;
    }

    .banner-description{
        margin-bottom: 10px;
    }

    .banner-image-container{
        margin-bottom: 15px;
    }

    .feature-container{
        flex-direction: column;
        gap: 2px;
    }

    .feature-tittle{
        font-size: 2rem;
    }

    .right-description{
        padding: 0;
    }

    .feature-left{
        20px
    }

    .right-container{
        gap: 15px;
        text-align: center;
        padding-top: 50px;
    }

}

@media screen and (max-width: 576px){
    .nav-container i{
        display: block;
    }

    .nav-items{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        padding: 10px 0;
        background-color: var(--colorMain);
        transition: all 250ms ease;
    }

    .nav-items ul{
        flex-direction: column;
        gap: 15px;
    }

    .nav-items a{
        color: var(--colorbtn);
    }

    .nav-items li::after{
        background-color: var(--colorbtn);
    }

    .open{
        right: 0;
    }
    .feature-left{
        width: 90%;
    }
    .feature-right{
        width: 90%;
    }
    .feature-left-image-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .right-description{
        padding: 0;
    }

    .right-container{
        gap: 15px;
    }
}